/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #13273b; /* Cor de fundo */
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #b1a7ff3f;
    position: fixed;
    top: 0;
    left: -250px; /* Fora da tela à esquerda */
    transition: left 0.6s ease-in-out; /* Transição suave para abertura */
}

/* Quando o aside for visível */
.sidebar.active {
    left: 0; /* Mostra o aside */
}

/* Navbar, conteúdo principal e rodapé */
.navbar, .main-content, .rodape_projeto, .section.corpo, body {
    position: relative;
    transition: transform 0.5s ease-in-out; /* Abertura rápida */
}

.navbar.move-right,
main.move-right,
.rodape_projeto.move-right {
    transform: translateX(250px); /* Mover 250px para a direita */
    transition: transform 0.5s ease-in-out; /* Transição suave */
}

/* Bloquear scroll horizontal apenas */
body.no-scroll {
    overflow-x: hidden;
    height: 100%; /* Mantém a altura fixa para evitar rolagem */
}


.logo {
    width: 150px;
    height: auto;
    margin: 10px;
    align-self: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #13273b; /* Cor de fundo */
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: -850px; /* Ajuste este valor conforme necessário */
    margin-top: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.nav-item img {
    height: 30px;
    margin-bottom: 5px;
}

.navbar-right .icon {
    cursor: pointer;
    color: white;
}

.navbar-right .icon img {
    height: 25px;
}

.user-menu {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
}

i {
    height: 20px;
    margin-left: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

.navbar-middle,
.navbar-right {
    display: flex;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
}

.nav-item img {
    height: 30px;
    margin-bottom: 5px;
}

.navbar-right .icon {
    cursor: pointer;
    color: white;
}

.navbar-right .icon img {
    height: 25px;
}


/* Estilo da Dashboard */
.dashboard-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

aside {
    width: 250px;
    background: #b1a7ff3f; /* color2 */
    color: white;
    text-align: center;
    transition: width 0.3s ease, opacity 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

aside.closed {
    width: 0;
    padding: 0;
    opacity: 0;
    overflow: hidden;
}

aside h2 {
    text-align: center;
    color: #fff;
    text-decoration: none;
}

aside nav {
    display: flex;
    flex-direction: column;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

aside nav ul {
    list-style-type: none;
    padding: 0;
}

aside nav ul li {
    margin: 20px 0;
    transition: font-size 0.2s ease;
}

aside nav ul li a:hover {
    text-decoration: none;
    padding: 7px;
    background: linear-gradient(#56517a74, #4e4a6d53);
    font-size: 14px;
}

/* Conteúdo principal */
.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 20px; /* Ajustado para melhor alinhamento */
    color: #333;
}

.rodape_projeto {
    text-align: center;
    padding: 0px; /* Reduz o padding para deixar mais fino */
    background-color: #4e4a6d;
    color: white;
    position: fixed;
    width: 100%;
    height: auto; /* Deixa a altura automática para ajustar ao conteúdo */
    bottom: 0;
    font-size: 12px; /* Ajusta o tamanho da fonte para ser mais compacto */
    line-height: 1.5; /* Ajusta o espaçamento entre as linhas */
    box-shadow: 0 -2px 5px rgba(51, 51, 51, 0.5); /* Sombra na parte superior */
}

/* Botão de toggle */
.toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00000000;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    margin: 20px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.toggle-button:hover {
    background-color: #00336600;
    transform: scale(1.);
}


.icon i, .settings-icon i {
    font-size: 16px; 
}

.icon, .settings-icon {
    margin-right: 0px; 
}

.settings-icon {
    margin-right: 0; 
}


/* ------------ */

/* Estilo do main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    min-height: calc(100vh - 60px); /* Ajuste para garantir espaço para o footer */
    box-sizing: border-box; /* Inclui padding e border no total */
}

/* Ajustando o banner slim */
.banner img {
    max-width: 90%;
    margin-left: 5%;
    padding: 10px;
    height: auto; /* Define a altura como slim (150px) */
    object-fit: cover; /* Cobre o container sem distorcer */
    margin-bottom: 10px; /* Espaçamento inferior para os contêineres */
}

/* Ajuste da área de conteúdo */
.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

p {
    color: #f8c0ed; /* Cor do texto */
    padding: 5px;
    margin: 6px;
}

.titulo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, Vertical, Blur, Cor */
    opacity: 0;
    color: #dd91cd; /* Cor do título */
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Termina visível */
    }
}

/* Fazendo os contêineres ficarem lado a lado */
.container-grd {
    display: block;
    width: 100%;
    max-width: 1200px; /* Limite de largura máxima */
    margin: 0 auto;
}

/* Grade Curricular e Calculadora de Notas ocupando 80% da largura */
.curriculum, .grades {
    width: 80%; /* Mantém 80% da largura */
    background-color: #1a314a; /* Cor de fundo */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Margem em cima e embaixo, e centraliza */
}

.curriculum ul {
    list-style-type: none;
    padding: 10px;
}

.curriculum li {
    margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    padding: 5px; /* Espaçamento interno opcional */
    background-color: #4e4a6d; /* Um fundo diferente para os itens */
    border-radius: 5px; /* Bordas arredondadas, opcional */
}

/* Listagem horizontal das notas */
.grades ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    display: flex; /* Usa flexbox para alinhar os itens em linha */
    justify-content: space-between; /* Espaçamento uniforme entre os itens */
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se necessário */
}

.grades li {
    flex: 1; /* Cada item ocupa espaço igual */
    margin-right: 10px; /* Espaço à direita entre os itens */
}

/* Ajustes nos campos de input */
.grades label {
    margin-bottom: 5px; /* Espaçamento entre o label e o input */
    color: #dd91cd; /* Cor do texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal, Vertical, Blur, Cor */
    width: 100%;
}

.grades input {
    width: 100%; /* Os inputs ocuparão a largura total do li */
    padding: 10px;
    height: 20px;
    border: 1px solid #4e4a6d; /* Borda do input */
    border-radius: 5px; /* Bordas arredondadas */
}

/* Tabela de resultados com largura total */
#resultTable {
    width: 100%; /* Faz a tabela ocupar 100% do espaço disponível */
}

/* Ajustes para alinhamento da tabela */
.grades table {
    width: 100%; /* A tabela ocupa toda a largura */
    margin-top: 20px; /* Espaçamento acima da tabela */
}

label {
    white-space: nowrap; /* Evita que a label quebre de linha */
    display: inline-block; /* Mantém as labels na mesma linha dos campos de input */
    width: 100px; /* Ajuste o valor conforme necessário para manter o layout */
}