@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start; /* Alinha os itens à esquerda */
    }

    .dashboard-container {
        flex-direction: column; /* Muda a direção para coluna em telas pequenas */
    }

    aside {
        width: 100%; /* Largura total em telas pequenas */
        padding: 10px 0; /* Adiciona espaçamento */
    }

    .main-content {
        margin-left: 0; /* Remove margem em telas pequenas */
    }

    .course-list {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas menores */
    }

    .course-card {
        margin-bottom: 20px; /* Adiciona espaço entre os cartões */
    }
}

@media (max-width: 480px) {
    .course-list {
        grid-template-columns: 1fr; /* Uma coluna em telas muito pequenas */
    }

    .navbar {
        padding: 10px; /* Ajusta o espaçamento da navbar */
    }
}